:root {
  --h1: 24px;
  --h2: 20px;

  --caps-letter-spacing: 0;

  /*--space-1: 0.5rem;*/
  /*--space-2: 1rem;*/
  --space-3: 3rem;
  /*--space-4: 4rem;*/

  /*--border-width: 4px;*/
  --caps-letter-spacing: 0;

  /* my variables */
  --textColor: #1e1e1e;

  --borderColor: #616161;
  --borderStyle: dashed;

  /* rows */
  --rowSmall: 100px;
  --rowMedium: 300px;
  --rowLarge: 400px;

  /* add button */
  --buttonBackground: #eee;
  --buttonColor: #616161;

  /* size selector */
  --sizeSelectorBackground: #eee;

  /* transitions */
  --transitionDuration: 0.3s;
  --transitionTiming: ease;
}
